body {
    margin:0px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.header {
    background-color:#1f2937;
    Height:450px;
    color:white;
}
ul {
    list-style:none;
}
.header-1 {
    display:flex;
    justify-content:space-between;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
}
.links {
    display:flex;
    gap:20px;
    opacity: 0.8;
}
.image {
    width:450px;
    height:150px;
    background-color:gray;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.header-2-left {
    padding-left:200px;
    width:380px;
}
.header-2 {
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    padding-top:100px;

}
button {
    background-color:#3882f6;
    color:white;
    border-radius: 5px;
}
.Random-info {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:10px;
    font-weight:bolder;
    font-size:36px;
    color:#1f2937;
}
information {
    display:flex;
    flex-direction:column;
}
.info-image {
    width:129px;
    height:129px;
    border: solid #3882f6;
    border-radius:8px;
}
.info-div {
    display:flex;
    flex-wrap:wrap;
    padding-left :305px;
    padding-right:200px;
    padding-top:30px;
    padding-bottom:30px;
    gap:50px;
}
.info {
    width:130px;
}
.quote {
    background-color:#E5E7EB;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:36px;
    font-style:italic;
    font-weight: lighter;
    padding-top:100px;
    padding-bottom:40px;
}
.Author {
    padding-left:450px;
}
.CTA {
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    color:white;
}
.CTA-body {
    display:flex;
    gap: 100px;
    background-color: #3882f6;
    border-radius:5px;
    padding:20px 100px 20px 100px;

}
.CTA-title {
    font-weight:bolder;
}
.button {
    Height:30px;
    border:solid white;
}
span {
    opacity:0.7;
    font-weight:lighter;
}
.footer {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#1f2937;
    color:white;
    height:80px;
}


